.tags-list-drop-box {
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  min-width: 100px;
  background: white;
  border-radius: 4px;
}

.tags-list-drop-box.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tags-list-item{
  padding: 3px 3px;
  background-color: aquamarine;
  margin: 3px 3px;
  border-radius: 7px;
  border: solid black 1px;
  text-align: center;
}


