<div class="example-container">
  <h2>Tag list</h2>
  <label>Tag title:
    <input #tagTitle />
  </label>
  <button mat-icon-button color="accent" (click)="addNewTag(tagTitle.value); tagTitle.value=''">
    <mat-icon aria-label="Add">add</mat-icon>
  </button>
  <div class="subj-container"
       id ="drag-list"
       cdkDropList
       #subjectList="cdkDropList"
       [cdkDropListData]="this.tagsListService.getTags()"
       [cdkDropListConnectedTo]="this.tagsListService.LIST_IDS"
       (cdkDropListDropped)="this.tagsListService.drop($event)"
  >
    <div class="example-box" *ngFor="let item of this.tagsListService.getTags()" cdkDrag><span id="{{item.id}}">{{item.title}}</span></div>
  </div>
</div>

